# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
dev-dist

src/includes/_globals.js
src/components/base
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.env
.vscode/*
!.vscode/extensions.json
stats.html
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
